<!-- übliche monitorauflösung 1998: 800x600 -->
<!-- übliche monitorauflösung 2003: 1024x786 -->

<style type="text/css">
  div {float: left;}
  #divStructure {
    width: 800px;
    /* width: 1024px; => 2003 */
  }
  #header {width: 100%;}
  #logo {/* width & height of logo? */}
  #hauptnavigation {width: 100%;}
  #unternavigation, #sidebar {width: 20%;}
  #content {width: 60%;}
  #footer {
    clear: both;
    width: 100%;
  }
</style>

<div id="divStructure">
  <div id="header">
    <div id="logo"></div>
    <div id="hauptnavigation"></div>
  </div>
  <div id="unternavigation"></div>
  <div id="content"></div>
  <div id="sidebar"></div>
  <div id="footer"></div>
</div>