<div class="tw_navigation_change">
  <span class="tw_overlayClose">schließen</span>
  
  <span class="tw_overlayBreadcrumbs"></span>
  <select class="tw_overlayDefinition">
    <option>Bitte den Element-Typ wähle aus...</option>
    <option>Header</option>
    <option>Logo</option>
    <option>Navigation</option>
    <option>Content</option>
    <option>Sidebar</option>
    <option>Bildergalerie</option>
    <option>Footer</option>
  </select>
  <span class="tw_overlayRemove">Element entfernen</span>
</div>