<div class="tw_navigation_change">
  <span class="tw_overlayClose">close Overlay</span>
  <br />
  <span class="tw_overlayRemove">remove Overlay</span>
  <br /><br />
  <span class="tw_overlayBreadcrumbs"></span>
  <br /><br />
  <select class="tw_overlayDefinition">
    <option>Bitte wähle aus...</option>
    <option>Header</option>
    <option>Logo</option>
    <option>Navigation</option>
    <option>Content</option>
    <option>Sidebar</option>
    <option>Bildergalerie</option>
    <option>Footer</option>
  </select>
</div>