.tw_pos_rel {
  position: relative;
}

.overlay_wrap {
  position: absolute;
  top: 0;
  left: 0;
}

.tw_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: none;
  z-index: 1;
}

.tw_overlay_hover {
  background-color: rgba(0, 255, 0, 0.2);
}

.tw_overlay_text {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #ccc;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  font-size: 11px;
  font-family: Verdana;
  text-decoration: none;
  text-transform: none;
  font-weight: normal;
}

.tw_navigation_change {
  position: absolute;
  display: none;
  background-color: #ccc;
  padding: 5px;
  z-index: 9999;
}

.tw_navigation_change ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}  

.editOverlay {
  cursor: pointer;
}

.tw_highlight {
  background-color: rgba(255, 0, 255, 0.2);
}