.tw_background_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 255, 0.2);
  z-index: 9998;
}

.tw_pos_rel {
  position: relative;
}

.overlay_wrap {
  position: absolute;
  top: 0;
  left: 0;
}

.tw_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}

.tw_overlay_warp_hover {
  background-color: rgba(0, 255, 0, 0.2);
  z-index: 9999 !important;
  width: 200px;
}

.tw_overlay_text {
  width: 100px !important;
  height: 10px !important;

  display: block;
  padding: 10px;
  background-color: #ccc;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  font-size: 11px;
  font-family: Verdana;
  text-decoration: none;
  text-transform: none;
  font-weight: normal;
}

.tw_navigation_change {
  position: absolute;
  display: none;
  background-color: #ccc;
  padding: 5px;
  z-index: 9999;
  color: #000;
}

.tw_navigation_change ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}  

.editOverlay {
  cursor: pointer;
}

.tw_highlight {
  background-color: rgba(255, 0, 255, 0.2);
}

.tw_highlight img {
  opacity: 0.5 !important;
}

.tw_bc:hover {
  color: #00ff00;
  cursor: pointer;
}

.tw_bc_highlight {
  color: #ff0000;
  cursor: pointer;
}