.tw_background_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 255, 0.2);
  z-index: 9998;
}

.tw_pos_rel {
  position: relative;
}

.overlay_wrap {
  position: absolute;
  top: 0;
  left: 0;
}

.tw_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}

.tw_overlay_warp_hover {
  background-color: rgba(0, 255, 0, 0.2);
  z-index: 9999 !important;
  width: 200px;
}

.tw_overlay_text {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: auto !important;
  height: auto !important;
  z-index: 2;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  color: #000;
  background-color: #fff;
  border: 2px solid #cdcdcd; /* grey light */
  padding: .8em 1em;
  -webkit-border-radius: 5px; 
     -moz-border-radius: 5px; 
          border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.header .tw_overlay_text {
  background-color: rgba(242, 203, 1, .8); 
  border-color: #f2cb01; 
}
.logo .tw_overlay_text {
  background-color: rgba(255, 106, 23, .8);
  border-color: #ff6a17;
}
.hauptnavigation .tw_overlay_text {
  background-color: rgba(249, 0, 180, .8);
  border-color: #f900b4;
}
.unternavigation .tw_overlay_text {
  background-color: rgba(222, 0, 0, .8);
  border-color: #de0000;
  color: #fff;
}
.content .tw_overlay_text {
  background-color: rgba(171, 185, 1, .8);
  border-color: #abb901;
}
.footer .tw_overlay_text {
  background-color: rgba(1, 100, 54, .8);
  border-color: #016436;
  color: #fff;
}
.sidebar .tw_overlay_text {
  background-color: rgba(1, 161, 221, .8);
  border-color: #01a1dd;
}
.box .tw_overlay_text {
  background-color: rgba(0, 39, 255, .8);
  border-color: #0027ff;
  color: #fff;
}

.tw_navigation_change {
  position: absolute;
  display: none;
  background-color: #ccc;
  padding: 5px;
  z-index: 9999;
  color: #000;
}

.tw_navigation_change ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}  

.editOverlay {
  cursor: pointer;
}

.tw_highlight {
  background-color: rgba(255, 0, 255, 0.2);
}

.tw_highlight img {
  opacity: 0.5 !important;
}

.tw_bc:hover {
  color: #00ff00;
  cursor: pointer;
}

.tw_bc_highlight {
  color: #ff0000;
  cursor: pointer;
}