%h1 Admins

%p.admin_edit= link_to "Edit my Account", edit_admin_path(current_admin)

%br
%br
%h3 All System-Admins
%table.admin_users
  %tr.head
    %td.id ID
    %td E-Mail
  - @admins.each do |admin|
    %tr
      %td= admin.id
      %td= admin.email 
