%h1 Admins

= link_to "Edit my Account", edit_admin_path(current_admin)


%h3 All System-Admins
%table
  %tr
    %td ID
    %td E-Mail
  - @admins.each do |admin|
    %tr
      %td= admin.id
      %td= admin.email 
