%ul
  %li 
    = link_to "neueste", archive_path, :class => (@sort == nil && controller.controller_name != 'tags') ? 'active' : ''
  %li 
    = link_to "meist gesehen", archive_path(:sort => 'mostviewed'), :class => (@sort == 'mostviewed') ? 'active' : ''
  %li 
    = link_to "top bewertet", archive_path(:sort => 'toprated'), :class => (@sort == 'toprated') ? 'active' : ''
  %li
    = link_to "tag suchen", tags_path, :class => (current_page?(tags_path) || controller.controller_name == 'tags') ? 'active' : ''