#bg_light_gradient

%hgroup
  #bg_logo
    %span
  %h3#logo
    %a{:href => root_path}
      timewarp

  %nav#navigation
    = render :partial => 'partials/navigation'

  #search
    = render :partial => 'partials/search_form'
  
  
