%ul
  %li
    %a{:href => root_path, :class => 'active'} timewarp
  %li
    %a{:href => archive_path} archiv
  %li
    %a{:href => history_path} geschichte
  %li
    %a{:href => team_path} team
  %span{:class => 'curve'}

