%ul
  %li
    - on_analyse_path = (controller.controller_name == 'sites' && (controller.action_name == 'analyse' || controller.action_name == 'timeline') )
    %a{:href => root_path, :class => (current_page?(root_path) || on_analyse_path ) ? 'active' : ''} timewarp
  %li
    - on_show_path = (controller.controller_name == 'sites' && controller.action_name == 'show')
    %a{:href => archive_path, :class => (current_page?(archive_path) || on_show_path || controller.controller_name == 'tags') ? 'active' : ''} archiv
  %li
    %a{:href => history_path, :class => current_page?(history_path) ? 'active' : ''} geschichte
  %li
    %a{:href => team_path, :class => current_page?(team_path) ? 'active' : ''} team
  %span{:class => 'curve'}

