// todo robi: mit der implementierten suche verbinden :)

%form{ :controller => '', :action => '', :method => '' }
  %label{ :for => 'search_input', :class => 'hidden'}
    Suche:
  %input{ :type => 'text', :name => 'search_input', :id => 'search_input' }
  %span#lens
  %input{ :type => 'submit', :name => 'search_submit', :value => 'suchen', :id => 'search_submit' }