%nav#sub_navigation
  %ul
    - Settings.crawler.years.each do |year|
      %li
        %a{:href => 'javascript:void(0)', :class => "change_version", :attr_version => year} 
          = year == 'current' ? 'aktuelle Version' : year