%section#timewarp
  %h1
    Früher war alles besser! Auch das Web-Design?
  %h2
    Reise mit 
    %span timewarp 
    in die Vergangenheit und finde es selbst heraus!

  - if mobile_device?
    %p.mobile_info
      Um 
      %span.timewarp timewarp 
      optimal erleben zu können brauchst du Platz! 
      %br
      Daher ist es nicht möglich, mit mobilen Devices neue Websites hinzuzufügen.
  - else
    .timewarp_form
      = simple_form_for @site do |f|
        = f.input_field :url, :placeholder => 'http://www.beispiel-seite.com'
        = f.submit 'warp !', :id => 'submit'

    = error_helper @site

%section#instructions
  #step_1.step
    %img{ :src => '/assets/home/symbol_1.png', :width => 'auto', :height => '180', :alt => 'Schritt 1: Analyse' }
    %h3
      Analyse
    %p
      Gib die gewünschte URL ein und betätige den warp!-Button. 
      %span.timewarp timewarp 
      analysiert die angegebene Website und erkennt automatisch die wichtigsten Elemente.
      
  #step_2.step
    %img{ :src => '/assets/home/symbol_2.png', :width => 'auto', :height => '180', :alt => 'Schritt 2: Kontrolle' }
    %h3
      Kontrolle
    %p
      %span.timewarp timewarp 
      zeigt dir die gefundenen Elemente an, welche du - falls gewünscht - individuell ergänzen und verändern kannst. 
  #step_3.step
    %img{ :src => '/assets/home/symbol_3.png', :width => 'auto', :height => '180', :alt => 'Schritt 3: Verwandlung' }
    %h3
      Verwandlung
    %p
      “This is where the magic happens!”
      %br
      %span.timewarp timewarp 
      verwandelt die angegebene Website basierend auf sorgfältig ausgewählten Design-Trends vergangener Jahre.
  #step_4.step
    %img{ :src => '/assets/home/symbol_4.png', :width => 'auto', :height => '180', :alt => 'Schritt 4: Zeitreise' }
    %h3
      Zeitreise
    %p
      Jetzt kannst du mit 
      %span.timewarp timewarp 
      in die Vergangenheit reisen! Wähle in der Zeitleiste das gewünschte Jahr aus und betrachte das Resultat.

