#history
  - text = Settings.history.texts

  - Settings.history.years.each_with_index do |year, idx|
    %div{:id => 'year_' + year, :class => 'period'}
      %h4.year 
        = year
      .element.monitor{:'data-stellar-ratio' => '3'}
      .element.keyboard{:'data-stellar-ratio' => '4'}
      .element.hand{:'data-stellar-ratio' => '2'}
      .info
        %p
          = text[idx]

  #indroduction.period
    %h1
      Nach oben scrollen und alles über die Geschichte des Web-Designs erfahren!

  #desk
