%section#imprint
  %h1
    Impressum

  #content
    .column
      %p
        %a{:href => 'http://www.fh-salzburg.ac.at', :id => 'fh_logo', :target => '_blank'}
          Fachhochschule Salzburg, University of Applied Sciences

      %h4
        Studiengänge
      %ul
        %li MultiMediaArt
        %li MultiMediaTechnology

      %h4
        Projekt
      %p
        Qualifikationsprojekt 3
        %br
        &copy; 2012 - 2013

      %h4
        Teammitglieder
      %ul
        %li Nicole Buchegger
        %li Robert Koch
        %li Daniel Krenmayr
        %li Karin Schnirch

    .column.wide
      %h4 
        1. Inhalt des Onlineangebotes 
      %p
        Die Autoren  übernehmen keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen die Autoren, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens der Autoren kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.
      %h4 
        2. Verweise und Links 
      %p
        Bei direkten oder indirekten Verweisen auf fremde Webseiten (Hyperlinks), die außerhalb des Verantwortungsbereiches der Autoren  liegen, wird keine Haftung auf den Inhalt dieser übernommen.
        Die Autoren erklären hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller verlinkten /verknüpften Seiten, die nach der Linksetzung verändert wurden.
    .column.wide
      %h4 
        3. Inhalt gespeicherter Websites
      %p
        Auf von Benutzern auf unserer Website angegebene und somit gespeicherte Webseiten und Links wird keine Haftung übernommen. Die Autoren distanzieren sich hiermit ausdrücklich von allen Inhalten aller gespeicherten Seiten.
      %h4 
        4. Urheber- und Kennzeichenrecht 
      %p
        Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein bei den Autoren der Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung der Autoren nicht gestattet. 