%h1 Tags
-('A'..'Z').to_a.each do |letter|
  %h3= letter
  %ul.tags
    -(@taglist.reject {|t| t[0][0] != letter.downcase}).each do |tag|
      -if Site.published.tagged_with(tag[0]).count > 0
        %li
          %a{:href => tag_path(tag[0])}
            = tag[0]
          %span
            = tag[1].to_i


%section#sidebar.grid.grid_5col_1n
  = render :partial => 'partials/archive_navigation'