body {
  background-image: none;

  font-family: arial;
}

div {
  background-color: auto;
  float: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia;
}

img {
  opacity: 1;
}

a {
  cursor: pointer;
}

a:hover {
  color: #000;
}

ul {
  height: auto;
  display: block;
}

li {
  display: inline-block;
  padding: 10px;
}

li > ul {
  display: none;
}  

li:hover > ul {
  display: block;
  opacity: 1 !important;
  position: absolute;
}

#divStructure {
  width: 1024px;
}

#header {
  width: 100%;
}

#logo {/* width & height of logo? */}

#hauptnavigation {
  width: 100%;
}

#unternavigation, #sidebar {
  width: 20%;
}

#content {
  width: 60%;
}

#footer {
  clear: both;
  width: 100%;
}