* {
  margin: 0;
  padding: 0;
  border: 0;
}
.tw_background_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 255, 0.2);
  z-index: 9998;
}


.tw_overlayClose {
  position: absolute;
  top: -10px;
  right: -10px;
  background: url('/tw_assets/images/overlay/close.png') 0 0 no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -19999px;
  overflow: hidden;
  cursor: pointer;
}

.tw_overlayDefinition {
  -webkit-appearance: none;
  outline: 1px solid #cdcdcd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08) inset;
  padding: 8px 10px;
  width: 100%;
  background: url('/tw_assets/images/overlay/select.png') 95% 55% no-repeat;
  cursor: pointer;
}
.tw_overlayBreadcrumbs {
  font-family: Monaco, monospace;
  line-height: 1.5em;
  margin-bottom: 10px;
  display: block;
  outline: 1px solid #cdcdcd;
  background-color: #f4f4f4;
  padding: 5px 10px;
  color: #cdcdcd;
}

.tw_overlayRemove {
  background: url('/tw_assets/images/overlay/delete.png') right 0 no-repeat;
  padding: 4px 20px 0 0;
  height: 16px;
  cursor: pointer;
  margin-top: 15px;
  float: right;
}
.tw_overlayRemove:hover {
  color: #a01111;
  background-image: url('/tw_assets/images/overlay/delete-hover.png');
}


.tw_pos_rel {
  position: relative;
}

.overlay_wrap {
  position: absolute;
  top: 0;
  left: 0;
  outline: 2px solid #cdcdcd;
}
.overlay_wrap.header {
  background-color: rgba(242, 203, 1, .2); 
  outline-color: #f2cb01;
}
.overlay_wrap.logo {
  background-color: rgba(255, 106, 23, .2);
  outline-color: #ff6a17;
}
.overlay_wrap.hauptnavigation {
  background-color: rgba(249, 0, 180, .2);
  outline-color: #f900b4;
}
.overlay_wrap.unternavigation {
  background-color: rgba(222, 0, 0, .2);
  outline-color: #de0000;
}
.overlay_wrap.content {
  background-color: rgba(171, 185, 1, .2);
  outline-color: #abb901;
}
.overlay_wrap.footer {
  background-color: rgba(1, 100, 54, .2);
  outline-color: #016436;
}
.overlay_wrap.sidebar {
  background-color: rgba(1, 161, 221, .2);
  outline-color: #01a1dd;
}
.overlay_wrap.bildergalerie {
  background-color: rgba(0, 39, 255, .2);
  outline-color: #0027ff;
}

.tw_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}

.tw_overlay_warp_hover {
  background-color: rgba(0, 255, 0, 0.2);
  z-index: 9999 !important;
  width: 200px;
}

.tw_overlay_text {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: auto !important;
  height: auto !important;
  z-index: 2;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  color: #000;
  background-color: #fff;
  padding: .8em 1em;
  -webkit-border-radius: 5px; 
     -moz-border-radius: 5px; 
          border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.header .tw_overlay_text {
  background-color: #f2cb01;
}
.logo .tw_overlay_text {
  background-color: #ff6a17;
}
.hauptnavigation .tw_overlay_text {
  background-color: #f900b4;
}
.unternavigation .tw_overlay_text {
  background-color: #de0000;
  color: #fff;
}
.content .tw_overlay_text {
  background-color: #abb901;
}
.footer .tw_overlay_text {
  background-color: #016436;
  color: #fff;
}
.sidebar .tw_overlay_text {
  background-color: #01a1dd;
}
.bildergalerie .tw_overlay_text {
  background-color: #0027ff;
  color: #fff;
}

.tw_navigation_change {
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 20px;
  width: 300px;
  z-index: 9999;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #484848; /* grey */
  -webkit-border-radius: 5px; 
     -moz-border-radius: 5px; 
          border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tw_navigation_change ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}  

.editOverlay {
  cursor: pointer;
}

.tw_highlight {
  background-color: rgba(255, 0, 255, 0.2);
}

.tw_highlight img {
  opacity: 0.5 !important;
}

.tw_bc:hover, .tw_bc:last-child, .tw_bc_highlight {
  color: #484848;
  cursor: pointer;
}
