/* colors */
$white: #fff;
$black: #000;

$green: #b6c02f;
$blue: #34a6de;
$red: #a01111;

$grey_lighter: #f4f4f4;
$grey_light: #cdcdcd;
$grey_medium: #626262;
$grey: #484848;
$grey_dark: #272727;

$black_alpha70: rgba(0, 0, 0, 0.7);

/* fonts */
$font_size_small: 12px;
$font_size_normal: 14px;
$font_size_medium: 18px;
$font_size_large: 24px;
$font_size_larger: 28px;

@mixin font_default {
  font: {
    family: Helvetica, Arial, sans-serif;
    size: $font_size_small;
    weight: normal;
  }
  color: $grey_medium;
}
@mixin font_michroma {
  font: {
    family: 'Michroma', sans-serif;
  }
  letter-spacing: 0.05em;
  text: {
    transform: lowercase;
  }
}

/* widths outgoing from window-width 1020px */
$width_960: 94.11764705%;
$width_734: 76.45833333%;
$width_230: 23.95833333%;
$width_220: 22.91666666%;
$width_200: 20.83333333%;
$width_13: 1.3541667%;