/* colors */
$white: #fff;
$black: #000;

$green: #b6c02f;
$blue: #34a6de;
$red: #dd1717;

$grey_light: #f4f4f4;
$grey_medium: #6a6a6a;
$grey: #484848;
$grey_dark: #282828;

/* fonts */
$font_size_small: 12px;
$font_size_normal: 14px;
$font_size_medium: 18px;
$font_size_large: 24px;

@mixin font_default {
  font: {
    family: Helvetica, Arial, sans-serif;
    size: $font_size_small;
    weight: normal;
  }
  color: $grey;
}
@mixin font_michroma {
  font: {
    family: 'Michroma', sans-serif;
  }
  letter-spacing: 0.05em;
  text: {
    transform: lowercase;
  }
}

/* widths */