@import 'variables';

#site_analyse {

  #analyse_frame {
    position: relative;
    float: left;
    width: $width_734;
    margin: {
      right: $width_13 * 2;
      bottom: 4em;
    }

    #crawled_site {
      -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
         -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    }

    .overlay {
      position: absolute;
      top: 0; 
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background: {
        color: rgba(0, 0, 0, .5);
      }
    }
  }

  #sidebar {
    position: relative;
    height: 600px;
    float: left;
    width: $width_200;

    .button {
      font: {
        size: $font_size_medium;
      }
    }

    #legend {
      position: absolute;
      bottom: 0;
      width: 100%;

      ul {
        border: {
          top: 1px solid $white;
        }
        -webkit-box-shadow: 0 -1px 0 $grey_light;
           -moz-box-shadow: 0 -1px 0 $grey_light;
                box-shadow: 0 -1px 0 $grey_light;
        line-height: 1.5em;

        li {
          border: {
            bottom: 1px solid $grey_light;
          }
          -webkit-box-shadow: 0 1px 0 $white;
             -moz-box-shadow: 0 1px 0 $white;
                  box-shadow: 0 1px 0 $white;
          padding: 8px 10px 7px;

          .color {
            display: block;
            width: 18px;
            height: 18px;
            background-color: $grey_medium;
            float: left;
            margin: {
              right: 10px;
            }
            &.yellow {background-color: #f2cb01;}
            &.orange {background-color: #ff6a17;}
            &.rosa {background-color: #f900b4;}
            &.red {background-color: #de0000;}
            &.light_green {background-color: #abb901;}
            &.dark_green {background-color: #016436;}
            &.light_blue {background-color: #01a1dd;}
            &.dark_blue {background-color: #0027ff;}
          }
        }

        .twl_set {
          background-color: #b9c400;
        }

        .scrollTo {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    .analyse {
      float: left;
      width: 100%;
      margin: {
        bottom: 2em;
      }

      li {
        width: 50%;
        float: left;

        a {
          display: inline-block;
          background: {
            color: $white;
          }
          color: $grey_light;
          border: 1px solid $grey_light;
          padding: .8em 1em;
          -webkit-border-radius: 5px; 
             -moz-border-radius: 5px; 
                  border-radius: 5px;
          width: 75%;
          text-align: center;
          -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
             -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
                  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

          &:hover {
            color: $grey_medium;
          }

          &.new_analyse {
            float: right;
          }
        }
      }
    }
  }

  #colorBar {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    margin: {
      bottom: 2em;
    }
    padding: {
      bottom: 2.5em;
    }
    border: {
      bottom: 1px solid $grey_light;
    }
    -webkit-box-shadow: 0 1px 0 $white;
       -moz-box-shadow: 0 1px 0 $white;
            box-shadow: 0 1px 0 $white;

    #colorBarInfo {
      display: none;
      padding: 5px 2px;
      background-color: #fff;
      width: 80px;
      text-align: center;
      border: 1px solid rgb(204, 204, 204);
      margin-bottom: 2px;
    }

    span {
      display: inline-block;
      height: inherit;
    }
  }
}

.missing_fields {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: {
    top: -50px;
    left: -150px;
  }
  display: none;
  background-color: $white;
  padding: 20px;
  width: 300px;
  height: 100px;
  z-index: 9999;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: $grey;
  -webkit-border-radius: 5px; 
     -moz-border-radius: 5px; 
          border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  .close {
    position: absolute;
    top: -10px;
    right: -10px;
    background: url('close-large.png') 0 0 no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    text-indent: -19999px;
    overflow: hidden;
    cursor: pointer;
  }

  .fields {
    font-family: Monaco, monospace;
    line-height: 1.5em;
    margin-bottom: 10px;
    display: block;
    outline: 1px solid #cdcdcd;
    background-color: #f4f4f4;
    padding: 5px 10px;
    color: #484848;
  }

  .close_ok {
    background: url('/tw_assets/images/overlay/continue.png') right 0 no-repeat;
    padding: 4px 20px 0 0;
    height: 16px;
    cursor: pointer;
    margin-top: 15px;
    float: right;
  }

  .close_ok:hover {
    color: #a01111;
    background-image: url('/tw_assets/images/overlay/continue-hover.png');
  }
}

.introjs-helperNumberLayer {
  left: auto !important;
  right: -16px !important;
}

.introjs-tooltip {
  line-height: 20px;
  p {margin-bottom: 5px;}
}