@import 'variables';

#header {
  position: fixed;
  top: 0;
  left: 0;
  margin: {
    bottom: 0;
  }
  z-index: 1000;

  #logo {

    a {}

    .pendulum {
      position: absolute;
      top: 65px;
      display: block;
      width: 25px;
      background: {
        image: url('history/pendulum.png');
        position: 0 bottom;
        repeat: no-repeat;
      }

      &.up {
        left: 13px;
        height: 300px;
      }

      &.down {
        left: 42px;
        height: 450px;
        background: {
          position: -25px bottom;
        }
      }
    }
  }
}

#wrapper {
  width: 100%;

  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: {
      top: 10px;
      bottom: 10px;
    }
    background: {
      color: rgba(0, 0, 0, .8);
    }
    border: 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
            box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    font: {
      size: 11px;
    }
    z-index: 1000;
  }

  p {
    padding: {
      left: 2.941176475%;
    }
  }

  #footer_navigation {
    padding: {
      right: 2.941176475%;
    }
    ul {
      li {
        a {
          color: $grey_light !important;
        }
      }
    }
  }
}

#history {
  padding: {
    top: 80px;
  }

  #desk {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background: {
      color: $grey_light;
    }
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3) inset;
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3) inset;
            box-shadow: 0 0 10px rgba(0, 0, 0, .3) inset;
    z-index: 1;
  }

  .period {
    position: relative;
    display: none;
    opacity: 0;
    overflow: hidden;
    z-index: 5;

    // &:nth-child(even) {background-color: rgba(255, 0, 0, .05);}
    // &:nth-child(odd) {background-color: rgba(255, 255, 0, .05);}
  
    .year {
      position: absolute;
      top: 6%;
      right: 2.941176475%;
      font: {
        size: $font_size_large * 2 !important;
      }
    }

    .element {
      position: absolute;
      background: {
        position: 0 0;
        repeat: no-repeat;
        size: 100% 100%;
      }

      &.monitor {
        bottom: 18%;
        left: 10%;
      }

      &.keyboard {
        bottom: 16%;
        right: 550px;
      }

      &.hand {
        bottom: 26%;
        right: 0;
      }
    }

    .info {
      position: absolute;
      top: 20%;
      left: 52%;
      background: {
        color: $white;
      }
      -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
         -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      width: $width_230 * 1.5;
      padding: $width_13; 

      p {
        font-size: $font_size_normal;
        line-height: 1.5em;
      }
    }

    &#introduction {

      h1, h2 {
        text-align: center;
        line-height: 1.5em;
      }
    }

    &#year_1950-1983 {
      .element {
        &.monitor {
          width: 567px;
          height: 691px;
          background: {
            image: url('history/1983_screen.png');
          }
        }

        &.keyboard {
          width: 310px;
          height: 186px;
          background: {
            image: url('history/1983_keyboard.png');
          }
        }

        &.hand {
          width: 740px;
          height: 218px;
          background: {
            image: url('history/1983_hand.png');
          }
        }
      }
    }

    &#year_1989-1990 {

      .element {

        &.monitor {
          bottom: 14%;
          left: 6%;
          width: 580px;
          height: 746px;
          background: {
            image: url('history/1989_screen.png');
          }
        }

        &.keyboard {
          width: 306px;
          height: 136px;
          background: {
            image: url('history/1989_keyboard.png');
          }
        }

        &.hand {
          bottom: 22%;
          width: 740px;
          height: 201px;
          background: {
            image: url('history/1989_hand.png');
          }
        }
      }
    }

    &#year_1991 {

      .element {

        &.monitor {
          bottom: 14%;
          width: 475px;
          height: 738px;
          background: {
            image: url('history/1991_screen.png');
          }
        }

        &.keyboard {
          right: 500px;
          width: 274px;
          height: 121px;
          background: {
            image: url('history/1991_keyboard.png');
          }
        }

        &.hand {
          bottom: 22%;
          width: 662px;
          height: 180px;
          background: {
            image: url('history/1991_hand.png');
          }
        }
      }
    } 

    &#year_1993-1994 {

      .element {

        &.monitor {
          width: 454px;
          height: 672px;
          background: {
            image: url('history/1993_screen.png');
          }
        }

        &.keyboard {
          width: 318px;
          height: 182px;
          background: {
            image: url('history/1993_keyboard.png');
          }
        }

        &.hand {
          width: 735px;
          height: 236px;
          background: {
            image: url('history/1993_hand.png');
          }
        }
      }
    } 

    &#year_1995 {

      .element {

        &.monitor {
          width: 464px;
          height: 732px;
          background: {
            image: url('history/1995_screen.png');
          }
        }

        &.keyboard {
          bottom: 20%;
          right: 490px;
          width: 265px;
          height: 133px;
          background: {
            image: url('history/1995_keyboard.png');
          }
        }

        &.hand {
          bottom: 22%;
          width: 662px;
          height: 253px;
          background: {
            image: url('history/1995_hand.png');
          }
        }
      }
    } 

    &#year_1996 {

      .element {

        &.monitor {
          width: 486px;
          height: 805px;
          background: {
            image: url('history/1997_screen.png');
          }
        }

        &.keyboard {
          bottom: 20%;
          right: 510px;
          width: 311px;
          height: 203px;
          background: {
            image: url('history/1997_keyboard.png');
          }
        }

        &.hand {
          bottom: 25%;
          width: 656px;
          height: 220px;
          background: {
            image: url('history/1997_hand.png');
          }
        }
      }
    } 

    &#year_1998 {

      .element {

        &.monitor {
          width: 511px;
          height: 674px;
          background: {
            image: url('history/1998_screen.png');
          }
        }

        &.keyboard {
          right: 500px;
          width: 274px;
          height: 172px;
          background: {
            image: url('history/1998_keyboard.png');
          }
        }

        &.hand {
          width: 673px;
          height: 179px;
          background: {
            image: url('history/1998_hand.png');
          }
        }
      }
    }

    &#year_1999 {

      .element {

        &.keyboard {
          bottom: 18%;
          right: 450px;
          width: 736px;
          height: 581px;
          background: {
            image: url('history/1999_keyboard.png');
          }
        }

        &.hand {
          width: 741px;
          height: 219px;
          background: {
            image: url('history/1999_hand.png');
          }
        }
      }
    }  

    &#year_2000-2002 {

      .element {

        &.monitor {
          left: 8%;
          width: 604px;
          height: 639px;
          background: {
            image: url('history/2000_screen.png');
          }
        }

        &.keyboard {
          bottom: 18%;
          right: 500px;
          width: 365px;
          height: 170px;
          background: {
            image: url('history/2000_keyboard.png');
          }
        }

        &.hand {
          width: 740px;
          height: 207px;
          background: {
            image: url('history/2000_hand.png');
          }
        }
      }
    } 


    &#year_2003-2004 {

      .element {

        &.keyboard {
          bottom: 17%;
          right: 280px;
          width: 962px;
          height: 643px;
          background: {
            image: url('history/2003_keyboard.png');
          }
        }

        &.hand {
          width: 751px;
          height: 185px;
          background: {
            image: url('history/2003_hand.png');
          }
        }
      }
    } 

    &#year_2006 {

      .element {

        &.monitor {
          width: 407px;
          height: 680px;
          background: {
            image: url('history/2006_screen.png');
          }
        }

        &.keyboard {
          bottom: 18%;
          width: 362px;
          height: 136px;
          background: {
            image: url('history/2006_keyboard.png');
          }
        }

        &.hand {
          bottom: 22%;
          width: 771px;
          height: 201px;
          background: {
            image: url('history/2006_hand.png');
          }
        }
      }
    } 

    &#year_2008 {

      .element {

        &.keyboard {
          right: 350px;
          width: 805px;
          height: 160px;
          background: {
            image: url('history/2008_keyboard.png');
          }
        }

        &.hand {
          bottom: 24%;
          width: 747px;
          height: 185px;
          background: {
            image: url('history/2008_hand.png');
          }
        }
      }
    } 

    &#year_2009 {

      .element {

        &.keyboard {
          width: 357px;
          height: 84px;
          background: {
            image: url('history/2009_keyboard.png');
          }
        }

        &.hand {
          bottom: 20%;
          width: 740px;
          height: 210px;
          background: {
            image: url('history/2009_hand.png');
          }
        }
      }
    } 

    &#year_2012 {

      .element {

        &.monitor {
          top: 0;
          width: 1267px;
          height: 774px;
          background: {
            image: url('history/2012_screen.png');
          }
        }

        &.keyboard {
          bottom: 18%;
          right: 450px;
          width: 301px;
          height: 113px;
          background: {
            image: url('history/2012_keyboard.png');
          }
        }

        &.hand {
          bottom: 22%;
          width: 645px;
          height: 200px;
          background: {
            image: url('history/2012_hand.png');
          }
        }
      }
    } 


  }
}