@import 'variables';

#timewarp {
  background: {
    image: url('shadow.png');
    position: 50% bottom;
    repeat: no-repeat
  }
  padding: {
    bottom: 66px;
  }
  .timewarp_form {
    margin: {
      bottom: 30px;
    }
    form {
      width: 600px;
      margin: 0 auto;
    }
    input {
      border: {
        width: 1px;
        style: solid;
        color: $grey_light;
      }
      background-color: $grey_light;
      width: 470px;
      padding: 8px 10px 6px 10px;
      font: {

        size: $font_size_medium;
      }
      color: $grey_dark;
      &[type="submit"] {
        width: 95px;
        float: right;
        border: none;
        background: {
          image: url('bg-button.png');
          color: transparent;
          position: 100% 0;
          repeat: no-repeat;
        }
        @include font_michroma;
        text: {
          transform: lowercase;
        }
        padding: {
          top: 1px;
          right: 15px;
          left: 15px;
        }
        color: $white;
      }
    }
  }
}
#instructions {
  margin-top: 50px;

  .steps {
    position: relative;
    background: {
      color: $white;
    }
    padding: 10px;
    margin: 0 40px 50px 40px;
    float: left;
    span {
      position: absolute;
      top: -40px;
      left: -40px;
      display: block;
      text-indent: -19999px;
      overflow: hidden;
      background: {
        image: url('sprite-steps.png');
        position: 0 0;
        repeat: no-repeat;
      }
      width: 80px;
      height: 80px;
    }
    img {
      float: right;
    }
    p {
      padding: 30px;
    }
    &#step_2, &#step_4 {
      img {
        float: left;
      }
    }
    &#step_1 {
      span {}
    }
    &#step_2 {
      span {
        left: auto;
        right: -40px;
        background-position: -80px 0;
      }
    }
    &#step_3 {
      span {
        background-position: 0 -80px;
      }
    }
    &#step_4 {
      span {
        left: auto;
        right: -40px;
        background-position: -80px -80px;
      }
    }
  }

}