@import 'variables';

#timewarp {
  padding: {
    top: 2em;
    bottom: 5em;
  }

  h1, h2 {
    text: {
      align: center;
    }
  }

  h1 {
    font: {
      size: $font_size_larger !important;
    }
    margin: {
      bottom: .5em !important;
    }
  }

  .mobile_info {
    line-height: 1.5em;
    text-align: center;
    padding: {
      top: 3em;
    }
  }

  .timewarp_form {
    position: relative;
    width: 65%;
    margin: 0 auto;
    padding: {
      top: 2em;
    }
    
    input {
      &#site_url {
        font: {
          size: $font_size_large !important;
          weight: lighter;
        }
        padding: 0 2%;
        outline: 1px solid $grey_light;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08) inset;
        width: 72%;
        height: 50px;
      }
      
      &#submit {
        float: right;
        width: 22%;
        height: 56px;
        background: {
          image: url('bg-button.png');
          color: transparent;
          position: right 4px;
          repeat: no-repeat;
        }
        margin-top: -5px;
        @include font_michroma;
        font: {
          size: $font_size_large;
        }
        color: #fff;
        cursor: pointer;
        &:hover {
          background: {
            image: url('bg-button-blue.png');
          }
        }
      }
    }
    .errors {
      position: absolute;
      bottom: -28px;
      left: 5%;
      background: {
        color: rgba(160, 17, 17, .6);
      }
      padding: .8em 1em;
      color: $white;
      border: 1px solid $red;
      -webkit-border-radius: 5px; 
         -moz-border-radius: 5px; 
              border-radius: 5px;
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
         -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
              box-shadow: 0 2px 4px rgba(0, 0, 0, .4);

      .arrow {
        position: absolute;
        top: -6px;
        left: 8px;
        background: {
          image: url('error-arrow.png');
          position: 0 0;
          repeat: no-repeat;
        }
        width: 12px;
        height: 6px;
      }
    }
  }
}

#instructions {
  float: left;
  width: 100%;
  padding: {
    top: 3em;
    bottom: 3em;
  }
  border: {
      top: 1px solid $white;
    }
    -webkit-box-shadow: 0 -1px 0 $grey_light;
       -moz-box-shadow: 0 -1px 0 $grey_light;
            box-shadow: 0 -1px 0 $grey_light;

  .step {
    width: $width_220;
    float: left;
    margin: {
      right: $width_13 * 2;
    }
    text: {
      align: center;
    }
  
    &:nth-child(4n+4) {
      margin: {
        right: 0;
      }
    }

    p {
      line-height: 1.4em;
    }

    img {
      margin: {
        bottom: 20px;
      }
    }
  }
}