@import 'variables';

/* "normal" screens */
@media only screen and (max-width : 1600px) {
  #header {height: 220px;}
  #navigation_rail {
    top: 90px;
  }
  #navigation {
    margin: {
      top: 90px;
    }
    .curve {
      background: {
        image: url('curve-green-medium.png');
      }
    }
  }
  #logo {
    a, .shadow {
      width: 220px;
      height: 220px;
    }
    a {
      background: {
        image: url('logo-medium.png');
      }
    }
  }
  #archive {
    .grid_1n {
      width: $width_3column_1n;
    }
  }
  #archive_navigation {
    ul {
      width: 220px;
      li {
        width: 162px;
      }
    }
  }
}

/* small screens */
@media only screen and (max-width : 1100px) {
  #header {height: 140px;}
  #navigation_rail {
    top: 50px;
  }
  #navigation {
    margin: {
      top: 50px;
    }
    .curve {
      background: {
        image: url('curve-green-small.png');
      }
    }
  }
  #logo {
    a, .shadow {
      width: 140px;
      height: 140px;
    }
    a {
      background: {
        image: url('logo-small.png');
      }
    }
  }
  #archive {
    .grid_1n {
      width: $width_2column_1n;
    }
  }
  #archive_navigation {
    ul {
      width: 140px;
      li {
        width: 104px;
      }
    }
  }
}



/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops */


/* Large screens */


/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}