@import 'variables';

// default settings
body, input, select, textarea {
  @include font_default;
}
body {
  background: {
    color: $grey_dark;
  }
}
a {
  color: $green;
}

// some "useful" css classes
.debug {
  border: {
    width: 1px;
    style: dashed;
    color: $red;
  }
  padding: 10px;
  background: {
    color: $grey_medium;
  }
}
.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: {
    image: url('sprite-icons.png');
    repeat: no-repeat;
  }
  margin: {
    right: 3px;
    bottom: -2px;
  }
}
.hidden {display: none;}
.margin-left {margin-left: $margin_default;}

// grid
.grid {
  float: left;
  margin: 0 $margin_default;
}

// 5 columns
.grid_5col_5n {width: $width_5col_5n;}
.grid_5col_4n {width: $width_5col_4n;}
.grid_5col_4n_full {
  width: $width_5col_4n_full;
  margin-right: 0;
}
.grid_5col_3n {width: $width_5col_3n;}
.grid_5col_2n {width: $width_5col_2n;}
.grid_5col_1n {width: $width_5col_1n;}

// 4 columns
.grid_4n {width: $width_4n;}
.grid_3n {width: $width_3n;}
.grid_3n_full {
  width: $width_3n_full;
  margin-right: 0;
}
.grid_2n {width: $width_2n;}
.grid_1n {width: $width_1n;}

// layout
#header {
  position: relative;
  height: 320px;
}
#logo {
  position: relative;
  a, .shadow {
    display: block;
    text-indent: -19999px;
    overflow: hidden;
    width: 320px;
    height: 320px;
    background: {
      position: 0 0;
      repeat: no-repeat;
    }
  }
  a {
    position: relative;
    margin: 0 auto;
    background: {
      image: url('logo-large.png');
    }
    z-index: 2;
  }
  .shadow {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -75px;
    background: {
      image: url('logo-shadow.png');
    }
    z-index: 1;
  }
}
#navigation_rail {
  position: absolute;
  top: 140px;
  left: 0;
  display: block;
  width: 50%;
  height: 40px;
  background: {
    color: $green;
  }
}
#navigation {
  position: relative;
  @include font_michroma;
  background: {
    color: $green;
  }
  font: {
    size: $font_size_medium;
  }
  height: 18px;
  padding: 9px 0 13px 0;
  margin-top: 140px;
  li {
    float: right; 
    margin-left: 30px;
    &:first-child {
      margin-right: 30px;
    }
  }
  a {
    color: $grey_dark;
    text-decoration: none;
    &:hover, &.active {
      color: $white;
    }
  }
  .curve {
    position: absolute;
    top: 0;
    right: -6px;
    display: block;
    width: 6px;
    height: 40px;
    background: {
      image: url('curve-green-large.png');
      position: 0 0;
      repeat: no-repeat;
    }
  }
}
#wrapper {
  position: relative;
  /* width: 94.11764705%; 960px -> 1020px */
  /* width: 96.07843137%; 980px -> 1020px */
  width: 100%;
  margin: 0 auto;
}
#content {

  h1, h2, h3, h4, h5, h6 {
    @include font_michroma;
    color: $grey_light;
    margin-bottom: 1em;
  }
  h1 {
    font-size: $font_size_large;
  }
  h3 {
    font-size: $font_size_medium;
  }
  h5 {
    font-size: $font_size_normal;
  }
  p, ul, ol {
    line-height: 1.5em;
  }
  ul {
    list-style: {
      type: circle;
    }
    margin-left: 15px;
  }
}
#footer {
  clear: both;
  padding: 15px 0 30px 0;
  border-top: 1px solid $grey_dark_medium;
}

#chosen_tags span {
  padding: 3px;
}