@import 'variables';

// default settings
body, input, select, textarea {
  @include font_default;
}
body {
  background: {
    image: url('bg-body.png');
    color: $beige;
    position: 0 0;
    repeat: repeat;
  }
}
a {
  color: $green;
}

// some "useful" css classes
.debug {
  border: {
    width: 1px;
    style: dashed;
    color: $red;
  }
  padding: 10px;
  background: {
    color: $white;
  }
}
.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: {
    image: url('sprite-icons.png');
    repeat: no-repeat;
  }
  margin: {
    right: 3px;
    bottom: -2px;
  }
}

.hidden {
  display: none;
}

// layout
#header {
  position: relative;
  width: 97%;
  height: 160px;
}
#logo {
  position: absolute;
  top: -7px;
  right: -21px;
  a, .shadow {
    display: block;
    text-indent: -19999px;
    overflow: hidden;
    width: 151px;
    height: 151px;
    background: {
      position: 0 0;
      repeat: no-repeat;
    }
  }
  a {
    position: relative;
    background: {
      image: url('logo.png');
    }
    z-index: 2;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    background: {
      image: url('logo-shadow.png');
    }
    z-index: 1;
  }
}
#navigation {
  position: relative;
  float: left;
  width: 90%;
  @include font_michroma;
  background: {
    color: $green;
  }
  font: {
    size: $font_size_medium;
  }
  padding: 8px 0 13px 0;
  margin: 50px 0 0 0;
  li {
    float: right; 
    margin-left: 30px;
    &:first-child {
      margin-right: 30px;
    }
  }
  a {
    color: $grey_dark;
    text-decoration: none;
    &:hover, &.active {
      color: $white;
    }
  }
  .curve {
    position: absolute;
    top: 0;
    right: -5px;
    display: block;
    width: 5px;
    height: 39px;
    background: {
      image: url('curve-green.png');
      position: 0 0;
      repeat: no-repeat;
    }
  }
}
#wrapper {
  position: relative;
  width: 94%;
  margin: 0 3%;
  p, ul, ol {
    line-height: 1.5em;
  }
  ul {
    list-style: {
      type: circle;
    }
    margin-left: 15px;
  }
}
#content {
  h1, h2, h3, h4, h5, h6 {
    @include font_michroma;
    margin-bottom: 1em;
  }
  h1 {
    color: $grey_light;
    font-size: $font_size_large;
  }
  h3 {
    color: $grey_dark;
    font-size: $font_size_medium;
  }
  h5 {
    color: $grey_dark;
    font-size: $font_size_normal;
  }
}
#footer {
  clear: both;
  padding: 15px 0 30px 0;
  border-top: 1px solid $grey_light;
}

#chosen_tags span {
  padding: 3px;
}