@import 'variables';

// archive navigation
#sub_navigation {
  float: left;
  width: 100%;
  border: {
    bottom: 1px solid $grey_light;
  }
  -webkit-box-shadow: 0 1px 0 $white;
     -moz-box-shadow: 0 1px 0 $white;
          box-shadow: 0 1px 0 $white;
  margin: {
    top: 10px;
    bottom: 20px;
  }

  ul {
    @include font_michroma;
    font: {
      size: $font_size_normal;
    }

    li {
      float: left;
      margin: {
        right: 14px;
        bottom: 20px;
      }

      a {
        position: relative;
        padding: 2px 8px 6px 10px;
        color: $grey;

        &:hover, &.active {
          color: $white;
          background: {
            color: $green;
          }

          span {
            position: absolute;
            top: 0;
            right: -4px;
            display: block;
            width: 4px;
            height: 28px;
            background: {
              image: url('curve-28.png');
              position: 0 0;
              repeat: no-repeat;
            }
          }
        }
      }
    }
  }
}

// archive overview (index)
#archive_overview, #archive_search {
  float: left;
  width: 100%;
  margin: {
    bottom: 40px;
  }

  .site_preview {
    position: relative;
    width: $width_230;
    float: left;
    margin: {
      right: $width_13;
      bottom: $width_13;
    }
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

    &:nth-child(4n+4) {
      margin: {
        right: 0;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 1;
      &.hover {
        display: none;
        opacity: 0;
      }
    }

    div {
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      padding: 10px;

      &.site_title {
        bottom: 0;
        height: 15px;
        background: {
          color: $grey; 
          image: -webkit-linear-gradient(top, $grey_medium, $grey); 
          image:    -moz-linear-gradient(top, $grey_medium, $grey);
          image:     -ms-linear-gradient(top, $grey_medium, $grey);
          image:      -o-linear-gradient(top, $grey_medium, $grey);
        }
        @include font_michroma;
        color: $white;
        z-index: 10;
      }

      &.site_meta {
        bottom: 0;
        padding: {
          top: 7px;
          bottom: 7px;
        }
        background-color: $white;
        color: $grey_medium;
        z-index: 9;

        .site_date {
          float: left;
          margin: {
            top: 2px;
          }
        }
        .site_likes {
          float: right;

          .icon {
            background-position: 0 0; // !!!!
          }
        }
      }
    }
  }
}

// archive detail (show)
#archive_detail {

  #site_images {
    float: left;
    width: $width_734;
    margin: {
      right: $width_13 * 2;
      bottom: 30px;
    }

    img {
      float: right;
      clear: right;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
         -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      width: 19.1504178%; // 137,5px => 718px;
      margin: {
        bottom: 0.6963788%; // 5px => 718px;
      }

      &#current {
        float: left; 
        width: 80.1532033%; // 575,5px => 718px;
      }
    }
  }

  #site_meta {
    float: left;
    width: $width_200;

    h5 {
      padding-left: 10px;
    }

    ul {
      margin: {
        bottom: 40px;
      }
      line-height: 1.5em;

      &.meta {
        border: {
          top: 1px solid $white;
        }
        -webkit-box-shadow: 0 -1px 0 $grey_light;
           -moz-box-shadow: 0 -1px 0 $grey_light;
                box-shadow: 0 -1px 0 $grey_light;
      
        li {
          border: {
            bottom: 1px solid $grey_light;
          }
          -webkit-box-shadow: 0 1px 0 $white;
             -moz-box-shadow: 0 1px 0 $white;
                  box-shadow: 0 1px 0 $white;
          padding: 8px 10px 7px;

          a {
            color: $grey_medium;

            &:hover {
              color: $blue;

              .icon {
                background-image: url('sprite-icons-blue.png');
              }
            }
          }

          &.site_date {
            .icon {
              background-position: -14px 0;
            }
          }

          &.site_views {
            .icon {
              background-position: 0 -14px;
            }
          }

          &.site_share {
            .icon {
              background-position: -14px -14px;
            }
          }
        }
      }
      
      &.tags {
        a {
          display: block;
          padding: 3px 10px;
          color: $grey_medium;

          &:hover {
            color: $grey_lighter;
            background-color: $grey_medium;
            -webkit-border-radius: 10px; 
               -moz-border-radius: 10px; 
                    border-radius: 10px;
          }
          span {float: right;}
        }
      }
    }
  }

  #site_comments {
    // styles in comments.css.scss
  }
}




/* 
#crawled_site {
  opacity: 0.2;
  margin: {
    bottom: 20px;
  }
}

  .pagination {
    padding: 20px 0;
    border-top: 1px solid $grey_dark_medium;
    display: block;
    clear: both;
    margin: 0 $margin_default 50px;
    @include font_michroma;
    font: {
      size: $font_size_small;
    }
    a, span, em {
      display: block;
      float: left;
      margin-right: 6px;
      padding: 3px 6px 4px;
      border: {
        width: 1px 0;
        style: solid;
        color: $grey_medium;
      }
      color: $grey_medium;
    }
    a {
      text-decoration: none;
      &:hover {
        border: {
          color: $green;
        }
        color: $green;
      }
    }
    .previous_page {}
    .next_page {}
    .current {
      border: {
        color: $blue;
      }
      color: $blue;
    }
    .disabled {
      border: {
        color: $grey_dark_medium;
      }
      color: $grey_dark_medium;
    }
  }
}

  #site_comments {
    margin-bottom: 40px;
    h3 {
      border-bottom: 1px solid $grey_dark_medium;
      padding-bottom: 6px;
    }
  }
}

#archive_form {
  display: none;
  background: {
    color: $grey_dark;
  }
  width: 460px;
  height: 280px;
  padding: 20px;

  h3 {
    @include font_michroma;
    font: {
      size: $font_size_medium;
    }
    color: $grey_light;
    border: {
      bottom: 1px solid $grey_medium;
    }
    padding-bottom: 6px;
    margin: {
      bottom: 1em;
    }
  }
  label {
    float: left;
    width: $width_1n;
    margin: {
      right: $margin_default * 2;
    }
    font: {
      size: $font_size_normal;
    }
    color: $grey_medium;
    padding: {
      top: $margin_default;
    }
    display:block;
  }
  input, textarea {
    background: {
      color: $grey_darker;
    }
    font: {
      size: $font_size_normal;
    }
    padding: {
      top: $margin_default;
      bottom: $margin_default;
    }
    margin: {
      bottom: 10px;
    }
  }
  .button {
    margin: 0 0 10px 0;
    &.cancel_form {
      float: left;
    }
  }
  #chosen_tags {
    color: $grey_dark_medium;
    border: {
      width: 1px 0;
      style: solid;
      color: $grey_medium;
    }
    padding: 10px 0;
    margin: {
      bottom: 10px;
    }
    line-height: 2em;
    span {
      font: {
        size: $font_size_normal;
      }
      color: $grey_medium;
      margin-right: 15px;
      a {
        display: inline-block;
        text-indent: -19999px;
        overflow: hidden;
        background: url('close.png') 0 0 no-repeat;
        width: 20px;
        height: 20px;
        margin: 0 0 -6px 2px;
      }
    }
  }
} */



