@import 'variables';

// archive navigation
#sub_navigation {
  float: left;
  width: 100%;
  border: {
    bottom: 1px solid $grey_light;
  }
  -webkit-box-shadow: 0 1px 0 $white;
     -moz-box-shadow: 0 1px 0 $white;
          box-shadow: 0 1px 0 $white;
  margin: {
    bottom: 20px;
  }

  ul {
    @include font_michroma;
    font: {
      size: $font_size_normal;
    }

    li {
      float: left;
      margin: {
        right: 14px;
        bottom: 10px;
      }

      a {
        position: relative;
        padding: 7px 12px 10px 10px;
        color: $grey;
        display: block;

        &:hover, &.active {
          color: $white;
          background: {
            image: url('bg-button.png');
            position: right 50%;
            repeat: no-repeat;
          }
        }
      }
    }
  }
}

// archive overview (index)
#archive_overview, #archive_search {
  float: left;
  width: 100%;
  margin: {
    bottom: 40px;
  }

  .site_preview {
    position: relative;
    width: $width_230;
    float: left;
    margin: {
      right: $width_13;
      bottom: $width_13;
    }
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

    &:nth-child(4n+4) {
      margin: {
        right: 0;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 1;
      &.hover {
        display: none;
        opacity: 0;
      }
    }

    div {
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      padding: 10px;

      &.site_title {
        bottom: 0;
        height: 15px;
        background: {
          color: $grey; 
          image: -webkit-linear-gradient(top, $grey_medium, $grey); 
          image:    -moz-linear-gradient(top, $grey_medium, $grey);
          image:     -ms-linear-gradient(top, $grey_medium, $grey);
          image:      -o-linear-gradient(top, $grey_medium, $grey);
        }
        @include font_michroma;
        color: $white;
        z-index: 10;
      }

      &.site_meta {
        bottom: 0;
        padding: {
          top: 7px;
          bottom: 7px;
        }
        background-color: $white;
        color: $grey_medium;
        z-index: 9;

        .site_date {
          float: left;
          margin: {
            top: 2px;
          }
        }
        .site_likes {
          float: right;

          .icon {
            background-position: 0 0; // !!!!
          }
        }
      }
    }
  }
}

// pagination 
.pagination {
  clear: both;
  a, em, span {
    display: inline-block;
    background: {
      color: $white;
    }
    color: $grey_medium;
    border: 1px solid $grey_light;
    padding: .5em .7em;
    -webkit-border-radius: 5px; 
       -moz-border-radius: 5px; 
            border-radius: 5px;
    text-align: center;
    font-style: normal;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

    &.current {
      background-color: $grey_lighter;
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
         -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    }

    &.disabled {
      color: $grey_light;
    }
  }

  a {
    
    &:hover {
      color: $blue;
    }
  }
}

// archive detail (show)
#archive_detail {

  #site_images {
    float: left;
    width: $width_734;
    margin: {
      right: $width_13 * 2;
      bottom: 30px;
    }

    img {
      float: right;
      clear: right;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
         -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      width: 19.1504178%; // 137,5px => 718px;
      margin: {
        bottom: 0.6963788%; // 5px => 718px;
      }

      &.year_current {
        float: left; 
        width: 80.1532033%; // 575,5px => 718px;
      }
    }
  }

  #site_meta {
    float: left;
    width: $width_200;

    h5 {
      padding-left: 10px;
    }

    ul {
      margin: {
        bottom: 40px;
      }
      line-height: 1.5em;

      &.meta {
        border: {
          top: 1px solid $white;
        }
        -webkit-box-shadow: 0 -1px 0 $grey_light;
           -moz-box-shadow: 0 -1px 0 $grey_light;
                box-shadow: 0 -1px 0 $grey_light;
      
        li {
          border: {
            bottom: 1px solid $grey_light;
          }
          -webkit-box-shadow: 0 1px 0 $white;
             -moz-box-shadow: 0 1px 0 $white;
                  box-shadow: 0 1px 0 $white;
          padding: 8px 10px 7px;

          a {
            color: $grey_medium;

            &:hover {
              color: $blue !important;

              .icon {
                background-image: url('sprite-icons-blue.png') !important;
              }
            }
          }

          &.site_date {
            .icon {
              background-position: -14px 0;
            }
          }

          &.site_views {
            .icon {
              background-position: 0 -14px;
            }
          }

          &.site_share {
            a {
              color: $blue;

              &.closed {
                color: $grey_medium;

                .icon {
                  background-image: url('sprite-icons.png');
                }
              }

              .icon {
                background-image: url('sprite-icons-blue.png');
                background-position: -14px -14px;
              }
            }

            #social_media_buttons {
              padding: {
                top: 8px;
                left: 20px;
              }

              div, a {
                display: block;
                margin: {
                  top: 3px;
                  bottom: 3px;
                }
              }
            }
          }
        }
      }
      
      &.tags {
        a {
          display: block;
          padding: 3px 10px;
          color: $grey_medium;

          &:hover {
            color: $grey_lighter;
            background-color: $grey_medium;
            -webkit-border-radius: 10px; 
               -moz-border-radius: 10px; 
                    border-radius: 10px;
          }
          span {float: right;}
        }
      }
    }
  }

  #site_comments {
    // styles in comments.css.scss
  }
}