@import 'variables';

#letter_lists {

  .column {
    float: left;
    width: $width_230;
    margin: {
      right: $width_13;
    }

    &:nth-child(4n+4) {
      margin: {
        right: 0;
      }
    }
    .letter_list_wrap {
      position: relative;
      width: 100%;
      float: left;
      margin: {
        bottom: 5.652173913043%;
      }
      -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
         -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      background: {
        color: $white;
      }

      .letter_list {
        float: left;
        width: 88.695652173914%;
        padding: 5.652173913043%;

        h3 {
          width: 10.434782608696%; /* 24px => 230px */
          float: left;
        }

        ul {
          border: {
            left: 1px solid $grey_light;
          }
          float: left;
          width: 83.478260869566%; /* 192px => 230px */
          padding: {
            left: 5.652173913043%; /* 13px => 230px */
          }
          line-height: 1.5em;

          li {

            a {
              display: block;
              padding: 3px 10px;
              color: $grey_medium;

              &:hover {
                color: $grey_lighter;
                background-color: $grey_medium;
                -webkit-border-radius: 10px; 
                   -moz-border-radius: 10px; 
                        border-radius: 10px;
              }

              span {float: right;}
            }
          }
        }
      }
    }
  }
}