@import 'variables';

.letter_list { 
  margin-bottom: $margin_default * 4;
  &:nth-child(3n+4) {
    clear: left;
  }
  h3 {
    border: {
      width: 1px 0;
      style: solid;
      color: $grey_dark_medium;
    }
    text-transform: uppercase !important;
    padding: 4px 10px 6px;
  }
  ul {
    list-style: none !important;
    margin: 0 !important;
    a {
      padding: 3px 10px;
      display: block;
      text-decoration: none;
      color: $grey_medium;
      &:hover {
        color: $grey_dark;
        background-color: $grey_medium;
      }
      span {float: right;}
    }
  }
}