@import 'variables';

#site_show {
  float: left; 
  width: 100%;

  #browser {
    position: relative;
    margin: 0 auto;
    background: {
      image: url('browser/1998_ie.png');
      position: 0 0;
      repeat: no-repeat;
    }
  
    &.browser_1994 {
      width: 640px;
      height: 480px;
      background: {
        image: url('browser/1994_ie.png');
      }
      padding: 95px 18px 20px 2px;
    }

    &.browser_1998 {
      width: 800px;
      height: 600px;
      background: {
        image: url('browser/1998_ie.png');
      }
      padding: 120px 22px 26px 6px;
    }

    &.browser_2003 {
      width: 1024px;
      height: 768px;
      background: {
        image: url('browser/2003_ff.png');
      }
      padding: 126px 20px 4px 1px;
    }

    &.browser_2008 {
      background: {
        image: url('browser/2008_chrome.png');
      }
      padding: 61px 2px 3px 2px;
    }

    &.browser_current {

    }
  }
  
  .button {
    float: right;
    margin: {
      top: 1em;
      left: 1em;
      bottom: 2em;
    }
  }  
}

#archive_form {
  display: none;

  h3 {
    @include font_michroma;
    font: {
      size: $font_size_medium;
    }
    border: {
      bottom: 1px solid $grey_light;
    }
    -webkit-box-shadow: 0 1px 0 $white;
       -moz-box-shadow: 0 1px 0 $white;
            box-shadow: 0 1px 0 $white;
    padding: {
      bottom: .5em;
    }
    margin: {
      bottom: 1em;
    }
  }

  li {
    float: left;
    width: 100%;
    margin-bottom: 1em;

    label {display: none;}

    input {
      outline: 1px solid $grey_light;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08) inset;
      padding: .7em 2%;
      float: left;
      width: 95.5%;
      margin-left: 1px;
    }
  }
  .tags {
    width: 100%;
    float: left;
    border: {
      bottom: 1px solid $grey_light;
    }
    -webkit-box-shadow: 0 1px 0 $white;
       -moz-box-shadow: 0 1px 0 $white;
            box-shadow: 0 1px 0 $white;

    .add_tag {
      clear: both;
      display: inline-block;
      background: {
        color: $white;
      }
      color: $grey_medium;
      border: 1px solid $grey_light;
      padding: .8em 1em;
      margin: {
        top: 1em;
        bottom: 1em;
      }
      -webkit-border-radius: 5px; 
         -moz-border-radius: 5px; 
              border-radius: 5px;
      text-align: center;
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
         -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
      float: right;

      &:hover {
        color: $blue;
      }
    }
  }

  #chosen_tags {
    border: {
      bottom: 1px solid $grey_light;
    }
    -webkit-box-shadow: 0 1px 0 $white;
       -moz-box-shadow: 0 1px 0 $white;
            box-shadow: 0 1px 0 $white;
    padding: {
      bottom: 1em;
    }
    line-height: 2em;
    margin: {
      bottom: 1em;
    }
    color: $grey_light;

    span {
      font: {
        size: $font_size_normal;
      }
      color: $grey_medium;
      margin-right: 15px;

      a {
        display: inline-block;
        text-indent: -19999px;
        overflow: hidden;
        background: url('close.png') 0 0 no-repeat;
        width: 20px;
        height: 20px;
        margin: 0 0 -6px 2px;
      }
    } 
  }

  .button {
    float: right;
    margin: {
      left: 1em;
    }
  }
}

// fancybox
.fancybox-skin {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  padding: 20px !important;
}