- html = render :partial => 'create_comment_form', :locals => { :comment => @comment}

:plain
  $('#comment_form').hide();
  $('#comment_form').html('#{escape_javascript html}');
  $('#comment_form').show();

