%nav#sub_navigation
  = render :partial => 'partials/archive_navigation'

#archive_overview
  - @sites.each do |site|
    = render :partial => 'partials/site', :locals => {:site => site}

  = will_paginate @sites, :previous_label => '&laquo;', :next_label => '&raquo;'
