%section#archive.grid.grid_5col_4n_full
  %h1.margin-left 
    warped sites

  - @sites.each do |site|
    = render :partial => 'partials/site', :locals => {:site => site}

  = will_paginate @sites, :previous_label => '&laquo;', :next_label => '&raquo;'

%section#sidebar.grid.grid_5col_1n
  %nav#archive_navigation
    %ul
      %li 
        %a latest
      %li 
        %a most viewed
      %li 
        %a top rated
      %li
        %a tag search

// hide for presentation on monday 15.04.
%section#tags.grid.grid_5col_4n.hidden
  %h1.margin-left 
    Tag-Cloud
  #tagcloud
    #tagcloud_config.hidden{:tags => @tags.to_json}
  %br
