%section#archive.grid.grid_5col_4n_full
  %h1.margin-left 
    warped sites

  - @sites.each do |site|
    = render :partial => 'partials/site', :locals => {:site => site}

  = will_paginate @sites, :previous_label => '&laquo;', :next_label => '&raquo;'

%section#sidebar.grid.grid_5col_1n
  = render :partial => 'partials/archive_navigation'
