- comments = []
- comments = @comments.reverse.to_json

:plain
  $('#new_comment')[0].reset();
  $('#comment_list').empty();

  comments = JSON.parse('#{comments}');
  comments.forEach(function(comment) {
    date = new Date(comment.created_at);
    console.log(comment);
    comment.created_at = date.toLocaleFormat("%d. %m. %Y");
    $('#comment_list').append( ich.comment_container(comment) );
  });