#show_container
  %p= "Anzeige der veränderten Seiten"

= link_to "Ins Archiv speichern", "javascript:void(0)"

//todo niki: fancybox
= render :partial => 'partials/archive_form', :locals => {:site => @site}